<!-- .alert.alert-primary>h1{MyBasket 1.0} -->
<div class="alert alert-primary">
    <div class="row">
        <div class="col">
            <h1><span class="clickable" routerLink="/">
                {{ "header.title" | translate }}
            </span></h1>
        </div>
        
        <div class="col">
            <form (submit)="search()">
                <input type="search" name="qryTxt" 
                    placeholder="search..."
                    autofocus
                    class="form-control" [(ngModel)]="qryTxt">
            </form>
        </div>

        <div class="col text-right">

            <div *ngIf="!auth.isAuthenticated">
                <button 
                    routerLink="/customer/login"
                    class="btn btn-link">{{ "header.login" | translate }}</button>
                |
                <button 
                    routerLink="/customer/register"
                    class="btn btn-link">{{ "header.register" | translate }}</button>
            </div>
            <div *ngIf="auth.isAuthenticated">
                {{ "header.welcome" | translate }} {{ auth.loggedInUser }} 
                | 
                <button 
                    (click)="auth.logout()"
                    class="btn btn-link">{{ "header.logout" | translate }}</button>
            </div>

        </div>
    </div>

</div>