<div>
    <button (click)="changeLang('en')" class="btn btn-link">English</button> |
    <button (click)="changeLang('spanish')" class="btn btn-link">Spanish</button> |
    <button (click)="changeLang('kn')" class="btn btn-link">Kannada</button>
</div>


<div *ngIf="auth.isAuthenticated">

    <div class="list-group">
        <div class="list-group-item clickable"
            routerLink="/customer/view-orders">
            View orders
        </div>
        <div class="list-group-item clickable">
            View profile
        </div>
    </div>

</div>


<div *ngIf="cs.itemCount">
    <button class="btn btn-primary btn-block"
        routerLink="/view-cart">
        View cart ({{cs.itemCount}} items)
    </button>
</div>

<h3>Products by Brand</h3>

<div class="list-group">
    <button (click)="getProducts('brand', b)" *ngFor="let b of brands" class="list-group-item">
        {{ b | titlecase }}
    </button>
</div>

<h3>Products by Category</h3>

<div class="list-group">
    <button (click)="getProducts('category', c)" *ngFor="let c of categories" class="list-group-item">
        {{ c | titlecase }}
    </button>
</div>